main .main-Work{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-Work div{
    margin-top: 1vh;
    height: 50vh;
    width: 80%;
    padding: 2vh;
}
footer{
    height: 15vh;
}

footer .footer-left{
    width: 100%;
    text-align: center;
}
footer .footer-right{
    width: 100%;
    text-align: center;
}